@font-face {
  font-family: nexa;
  src: url(./assets/nexaheavy.ttf)format('truetype');
  font-weight:700;
  font-style: normal;
  font-display: swap;
}

body {
  padding-top: 86px;
}


:root {
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: nexa;
  font-weight: 700;
  height: 100%;
  font-size: 16px;
  margin: auto;
  font-weight: bold;
  overflow-y: auto;
  line-height: 1;
  color-scheme: light;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width:768px) {
  :root {
    background-image: url(assets/backgkecil.png);
    background-position: center;
    background-size: cover;
  }

}